{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "firebase": "readonly"
  },
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": 0,
    "prefer-destructuring": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "warn",
    "jest/no-identical-title": "warn",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "warn",
    "no-use-before-define": ["error", {"functions": false, "classes": false}],
    "no-unused-vars":"warn",
    "no-case-declarations":"warn",
    "no-useless-escape": 0,
    "camelcase":"warn",
    "no-unneeded-ternary":"warn",
    "no-trailing-spaces": 0,
    "no-confusing-arrow": "warn",
    "no-console": 0,
    "padded-blocks": 0,
    "prefer-arrow-callba": 0,
    "keyword-spacing": 0,
    "prefer-arrow-callback": 0,
    "prefer-template": 0,
    "brace-style": 0,
    "consistent-return": "warn",
    "arrow-body-style": 0
  
  }
}